/* BASIC STYLES */
* {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Ubuntu', sans-serif;
}

body {
  min-height: 100dvh;
}

main {
  flex: 1;
}

/* BACKGROUNDS */
#home-bg {
  background-image: url('../img/background.webp');
  background-position: center;
  background-size: cover;
}

#home-bg:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.bg-glass {
  background-color: #fafafa15;
  backdrop-filter: blur(0.4em);
  -webkit-backdrop-filter: blur(0.4em);
}

.bg-main {
  background: #6a3093;
  background: -webkit-linear-gradient(to right, #a044ff, #6a3093);
  background: linear-gradient(to right, #a044ff, #6a3093);
}

/* CUSTOM CLASSES */
.w-full {
  width: 100%;
}

.text-shadow-1 {
  text-shadow: 1px 1px 3px rgb(61, 0, 56);
}

.text-foreground {
  color: rgb(220, 220, 220);
}

.container-custom {
  width: 100%;
  max-width: 470px;
}

.text-color-main {
  color: #290046c6;
}

.btn-outline-main {
  border-color: #6a3093;
}

.btn-outline-main:hover {
  background-color: #290046c6;
}

.btn-outline-main:active {
  background-color: #290046a6 !important;
}

.btn-main {
  background-color: #6a3093;
}

.btn-main:hover {
  background-color: #7b37ac;
}

.btn-main:active {
  background-color: #6a3093 !important;
}

.back:hover {
  text-decoration: underline;
  color: white;
}

/* MEDIA QUERIES */
@media screen and (min-width: 992px) {
  .w-lg-75 {
    width: 75%;
  }
}
