/* ESTILOS BÁSICOS */
* {
  font-family: 'Roboto', sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #bdc3c7 transparent;
}

h1,
h2,
h3 {
  font-family: 'Ubuntu', sans-serif;
}

body {
  height: 100dvh;
  background-image: url('../img/background.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #bdc3c7;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #95a5a6;
}

/* CLASES PERSONALIZADAS */
.main-container {
  max-width: 470px;
  height: 100dvh;
  overflow: hidden;
  background: #6a3093;
  background: -webkit-linear-gradient(to right, #a044ff, #6a3093);
  background: linear-gradient(to right, #a044ff, #6a3093);
}

.bg-glass {
  background-color: #fafafa15;
  backdrop-filter: blur(0.4em);
  -webkit-backdrop-filter: blur(0.4em);
}

.fs-7 {
  font-size: 14px;
}

.text-shadow-1 {
  text-shadow: 1px 1px 3px rgb(0, 0, 0);
}

.text-foreground {
  color: rgb(235, 235, 235);
}

.text-color-main {
  color: #290046c6;
}

.btn-outline-main {
  border-color: #6a3093;
}

.btn-outline-main:hover,
.btn-outline-main:focus {
  background-color: #290046c6 !important;
}

.btn-outline-main:focus {
  box-shadow: 0 0 0 0.25rem #b369e795 !important;
}

.btn-outline-main:active {
  background-color: #6a3093 !important;
}

.btn-main {
  background-color: #6a3093;
}

.btn-main:hover,
.btn-main:focus {
  background-color: #7b37ac !important;
}

.btn-main:focus {
  box-shadow: 0 0 0 0.25rem #b369e795 !important;
}

.btn-main:active {
  background-color: #6a3093 !important;
}
